<h1>Index</h1>

<% provide(:title, 'Usuários') %>

<h1>Usuários</h1>

<ul class="users">
  <% if @users %>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
      </li>
    <% end %>
  <% else %>
    <li>
    Sem usuários
    </li>
  <% end %>
</ul>